################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/Project/Olimp2019.Data/bin
/Project/Olimp2019.Data/obj
/Project/.vs
/Project/Olimp2019.Tests/bin
/Project/Olimp2019.Tests/obj
/Project/Olimp2019.Web/bin
/Project/Olimp2019.Web/obj
/Project/Olimp2019.Web/wwwroot/css/*.min.css
/Project/Olimp2019.Web/wwwroot/js/*.min.js
/Project/Olimp2019.Web/bin/Release/netcoreapp2.0
/Project/Olimp2019.Data/bin/Release/netstandard2.0
/Project/Olimp2019.Tests/obj
/Project/Olimp2019.Tests/bin/Debug/netcoreapp2.0
/Project/Olimp2019.Tests/bin/Release/netcoreapp2.0
/tfs
/Project/Olimp2019.Data/bin/Debug
/Project/Olimp2019.Web/Olimp2019.Web.csproj.user
/Deployment/Agent
/Project/Olimp2019.Web/bin
/Project/Olimp2019.Tests/bin/Debug/netcoreapp2.2
/Project/Olimp2019.Data/bin/Release/netcoreapp2.0
/publish
/Project/Olimp2019.Web/Olimp2019.Web.csproj.user