@page
@model IndexModel
@{
    ViewData["Title"] = "Olimp2019";
}

<div class="index-page">
	<div class="index-page__pre-header">Будущее за технологиями</div>
	<div class="index-page__header">Начни старт своей карьеры в IT</div>
	<div class="index-page__after-header">
		<div class="index-page__after-header__text">Предлагаем пройти квест, что бы познакомиться с преимуществами карьеры в сфере IT. В игровой форме ты получишь полезную и актуальную информацию.</div>
		<div class="index-page__after-header__button">
			<div class="icon">
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</div>