@page
@model IndexModel
@{
    ViewData["Title"] = "Olimp2019";
}

<div class="index-page">
	<div class="index-page__pre-header">Будущее за технологиями</div>
	<div class="index-page__header medium-font">Начни старт своей карьеры в IT</div>
	<div class="index-page__after-header light-font">
		<div class="index-page__after-header__text">Предлагаем пройти квест, что бы познакомиться с преимуществами карьеры в сфере IT. В игровой форме ты получишь полезную и актуальную информацию.</div>
		<a class="index-page__after-header__button" asp-page="/Account/Login">
			<div class="index-page__after-header__button__icon">
				<div class="index-page__after-header__button__arrow"></div>
			</div>
		</a>
	</div>
</div>