@page
@model Olimp2019.Web.Pages.Reports.ReportsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reports</title>
</head>
<body>
</body>
</html>
