@page
@model ExternalLoginModel
@{
	ViewData["Title"] = "Регистрация";
}

<div class="login-page external-login-page">
	<span class="login-page__title">@ViewData["Title"]</span>
	<span class="login-page__after-title">Подтверждение</span>
	<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div class="field light-font">
			<input asp-for="Input.Email" class="form-control" />
			<label asp-for="Input.Email"></label>
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
		<div class="field light-font">
			<input class="form-control" asp-for="Input.FullName" />
			<label asp-for="Input.FullName">Имя</label>
			<span asp-validation-for="Input.FullName" class="text-danger"></span>
		</div>
		<div class="medium-font">
			<button type="submit" class="login-page__login-button">Продолжить</button>
		</div>
		<div class="text-danger">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
	</form>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
