body {
	box-sizing: border-box;
	background: url(../images/background.png);
	background-color: #00072d;
	color: white;
	font-family: 'CoreSansN-45Regular';
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -10000;
}

input, textarea {
	outline: none;
	box-shadow: none !important;
}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
	}

	input:-webkit-autofill {
		-webkit-text-fill-color: white !important;
	}

.light-font {
	font-family: CoreSansN-35Light
}

.regular-font {
	font-family: CoreSansN-45Regular
}

.medium-font {
	font-family: CoreSansN-55Medium
}

.index-page {
	margin: 7% 10%;
	display: inline-block;
}

.index-page__pre-header {
	color: #9CABFF;
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.index-page__header {
	font-size: 84px;
	line-height: 90px;
	width: 800px;
}

.index-page__after-header {
	font-size: 20px;
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	border-left: 2px solid #f6e7e6;
}

.index-page__after-header__text {
	max-width: 535px;
	color: rgba(255, 255, 255, .8)
}

.index-page__after-header__button {
	min-width: 85px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.index-page__after-header__button__icon {
	position: relative;
	top: 50%;
	left: 46%;
	transform: translate(-50%,-50%);
	width: 80px;
	height: 72px;
}

.index-page__after-header__button__arrow {
	position: absolute;
	top: 25px;
	width: 90%;
	height: 10px;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	animation: arrow 700ms linear infinite;
}

	.index-page__after-header__button__arrow:after {
		content: '';
		position: absolute;
		width: 60%;
		height: 10px;
		top: -12px;
		right: -8px;
		background-color: white;
		transform: rotate(45deg);
	}

	.index-page__after-header__button__arrow:before {
		content: '';
		position: absolute;
		width: 60%;
		height: 10px;
		top: 12px;
		right: -8px;
		background-color: white;
		box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
		transform: rotate(-45deg);
	}

.login-page {
	display: flex;
	flex-flow: column;
	max-width: 470px;
	max-height: 540px;
	border-radius: 2px;
	background-color: rgba(0,0,0,.6);
	right: 0;
	top: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	margin: auto;
	padding: 56px 80px;
}

	.login-page a {
		color: white;
	}

.login-page__title {
	font-size: 28px;
}

.login-page__after-title {
	display: block;
	font-size: 14px;
	opacity: 0.5;
	margin-bottom: 30px;
}

.login-page__remember-me {
	display: inline-block;
	opacity: 0.5;
	font-size: 14px;
	margin: 0;
}

.login-page__forgot-password {
	float: right;
}

.login-page__login-button {
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #FFFFFF;
	color: #2E2353;
	border: 0;
	transition: .3s;
}

	.login-page__login-button:hover {
		background-color: transparent;
		color: white;
		border: 1px solid white;
	}

.login-page__register-button {
	text-align: center;
}

.login-page__or-label {
	opacity: 0.5;
	margin: 20px 0;
	text-align: center;
}

.login-page__social-buttons form {
	display: flex;
	justify-content: center;
}

.login-page__social-buttons button + button {
	margin-left: 20px;
}

.login-page__social-buttons button {
	height: 36px;
	width: 130px;
	background-color: transparent;
	color: white;
	border: 1px solid #383C63;
	border-radius: 2px;
	transition: .3s;
}

	.login-page__social-buttons button:hover {
		background-color: white;
		color: black;
	}

.login-page .field {
	position: relative;
}

	.login-page .field label {
		position: absolute;
		color: rgba(255,255,255,.5);
		top: 11px;
		left: 9px;
		font-weight: normal;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease-in-out;
	}

	.login-page .field input {
		background-color: transparent;
		border: 0;
		height: 42px;
		border-radius: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		padding: 14px 8px;
		color: white;
	}

		.login-page .field input:focus ~ label,
		.login-page .field input.used ~ label,
		.login-page .field input[aria-invalid="false"]:not(:focus) ~ label,
		.login-page .field input[class*="input-validation-error"]:not(:focus) ~ label {
			transform: translate3d(-10px, -20px, 0) scale(0.9);
		}

.login-page .text-danger {
	display: block;
	height: 20px;
	text-align: center;
}

	.login-page .text-danger ul {
		list-style-type: none;
	}

.register-page {
	max-height: 530px;
}

.forgot-password-page {
	max-height: 310px;
}

.external-login-page {
	max-height: 370px;
}

.no-select {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (max-width: 1000px) {
	.index-page__pre-header {
		font-size: 2.5vw;
	}

	.index-page__header {
		font-size: 7vw;
		line-height: 7vw;
		width: unset;
	}

	.index-page__after-header {
		font-size: 2vw;
	}
}

@media screen and (max-width: 600px) {
	.login-page {
		padding: 10px 20px;
		margin-left: 10px;
		margin-right: 10px;
		max-height: 420px;
	}

	.register-page {
		max-height: 455px;
	}

	.forgot-password-page {
		max-height: 215px;
	}

	.external-login-page {
		max-height: 275px;
	}

	.login-page__or-label {
		margin: 5px 0;
	}

	.index-page__pre-header {
		font-size: 3.5vw;
	}

	.index-page__header {
		font-size: 8vw;
		line-height: 8vw;
		width: unset;
	}

  .index-page__after-header {
		font-size: 3vw;
		flex-wrap: wrap;
	}

	.index-page__after-header__button {
		margin-top: 80px;
		margin-left: auto;
	}
}

@font-face {
	font-family: 'CoreSansN-35Light';
	src: local('CoreSansN-35Light'), url('https://nomail.com.ua/files/woff/74fd406239495d136b3b401a4f3f5d6e.woff') format('woff');
}

@font-face {
	font-family: 'CoreSansN-45Regular';
	src: local('CoreSansN-45Regular'), url('https://nomail.com.ua/files/woff/d2356168b8b3a57be8773f854893ac8f.woff') format('woff');
}

@font-face {
	font-family: 'CoreSansN-55Medium';
	src: local('CoreSansN-55Medium'), url('https://nomail.com.ua/files/woff/b6300cf3b7c0ab5a1a3acc4602bbf66f.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}